.main{
    border: 1px solid black;
    width: 100px;
    height: 100;
}
.top{
   margin-left: 522px;
   margin-top: 10px;
   padding-top: 20px;
   padding-left: 20px;
}
.bottom{
    margin-top: 700px;
    margin-left: 522px;
    padding:60px
}