@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body{
    background-color:rgb(2, 2, 1);
    position: absolute;
}
.mainhead{
    color: white;
    text-align: center;
    font-family: 'Limelight', cursive;
    font-size: 20px;
}
.main{
    border: 1px solid rgb(240, 0, 0) ;
    width: 320px;
    height: 523px;
    float: left;
    text-align: center;
    background-color: white;
    
  
}
.main2{
    border: 1px solid rgb(139, 51, 51);
    background-color: blue;
    color: white;
}
.back-div{
    background-color: rgb(141, 17, 17);
}
.head{
  color: rgb(177, 27, 16);
}
.main img{
    width: 200px;
    height: 200px;
}
.main h1{
    color: rgb(214, 71, 5);
    text-align: center;
}
.row{
    width: 100%;
}