*{
    box-sizing: border-box;
}

.row{
    
    width: 100%;
    min-height: 500px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;

}
.col{
    
    width: 40%;
    height: 100px;
    background-color: rgb(236, 4, 93);
}
@media(max-width:500px)
{
    .row{
        flex-direction: column;
        align-items: center;
     
    }
    .col{
        margin-top: 10px;
        width:100%; 
        padding: 5px;
       
    }
}